<div class="container py-5">
  <div class="row g-4">
    @for (data of alldata; track $index) {
    <div class="col-md-6 col-lg-4 col-xl-3">
      <div class="card px-1 w-100 h-100">
        <img src="{{ data.image }}" class="w-100 h-75" alt="{{ data.title }}" />
        <div class="card-body">
          <div
            class="d-flex justify-content-between align-iteams-center text-info"
          >
            <h3 class="h6">category: {{ data.category }}</h3>
            <h3 class="h6">id: {{ data.id }}</h3>
          </div>
          <h4 class="card-title text-danger">
            {{ data.title.split(" ", 3).join(" ") }}
          </h4>
          <p class="card-text">
            {{ data.description.split(" ", 8).join(" ") }}
          </p>
          <div
            class="d-flex justify-content-between align-iteams-center text-success"
          >
            <h4 class="h6">price: {{ data.price }}</h4>
            <span class="h6"
              ><i class="fa-solid fa-star text-warning"></i>
              {{ data.rating.rate }}</span
            >
            <!-- <span>{{ data.rating.count }}</span> -->
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
